*{
    font-family:Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    font-size:xx-large;
}
form button:hover{
    cursor:pointer;
}
body, #setup, #game{
    display:flex;
    flex-direction:column;
    gap:50px;
}
.main-nav{
    text-align:center;
    background-color:palegoldenrod;
}

.head{
    font-weight:bold;
    font-size:2em;
    color:orange;
    padding: 20px 0;
    border-style:solid;
}
#setup .ranges{
    display:flex;
    flex-direction:row;
    gap:50px;
    text-align:center;
    align-items:center;
    justify-items: center;
    justify-content: center;
}
#setup .min-range-row, #setup .max-range-row{
    display:flex;
    flex-direction: column;
    padding: 10px 40px;
    text-align: center;
    gap:100px;
}
#setup .setbutton{
    background-color:bisque;
    padding:10px 20px;
    border:0px;
    border-radius:15px;
    width:100px;
    height:80px;
}
#setup .customset{
    width:200px;
    height:90px;
}
#setup .setbutton:hover{
    background-color:orange;
    size:120%;
    cursor:pointer;
}
#setup h3{
    font-size: 150px;
}
#setup a{
    border: 2px solid orange;
    background-color: bisque;
    color:orange;
    text-decoration: none;
    padding: 12px;
    border-radius:5px;
}
#setup .confirmrange{
    font-size: 125px;
    color:chocolate;
}
#setup .confirm{
    display:flex;
    flex-direction:column;
    gap:50px;
    align-items:center;
}
#game{
    display:none;
}
#game .score{
    display:flex;
    flex-direction:row;
    margin-bottom:20px;
    background-color:lightgoldenrodyellow;
    border-radius:5px;
    padding:10px;
    width:auto;
    border-width:2px;
    gap:15px;
}
#game #scorecounter{
    width:auto;
    height:auto;
    padding:0 5px;
    border-style:solid;
    border-radius:5px;
    border-width:1px;
    background-color:bisque;
    color:orange;
}
#game .buttonrow{
    display:flex;
    flex-direction: center;
    align-items:center;
    justify-content: center;
    gap:50px;
}
#game .gametext{
    display:flex;
    flex-direction:column;
    gap:15px;
}
#game .buttonrow a{
    border: 2px solid orange;
    background-color: bisque;
    color:orange;
    text-decoration: none;
    padding: 10px;
    border-radius:5px;
    align-items:center;
    width:auto;
    height:30px;
}
footer{
    display:flex;
    flex-direction:row;
    align-items:center;
}
footer p{
    font-size:xx-small;
}
